<!DOCTYPE html>
<html>
<include file="public:header" />
<link href="__HPLUS__/css/dialog.css" rel="stylesheet">
<link href="__HPLUS__/css/plugins/validform/validform.css" rel="stylesheet">
<style>
	.form-control{ padding-left:5px;}
</style>
  <body>
	  <div class="wrapper wrapper-content animated fadeInRight">
		<form role="form" class="form" action="__URL__/updateStatus">
			<input type="hidden" name="id" value="<{$vo.id}>">
			<input type="hidden" name="field" value="password">
			<input type="hidden" id="pwd" name="value" value="">
			<div class="form-group">
				<label class="col-sm-2 control-label">用户名：</label>
				<div class="col-sm-10">
					<input type="text" disabled class="form-control" placeholder="用户名" value="<{$vo.username}>">
				</div>
			</div>
			<div class="clearfix"></div>
			<br/>
			<div class="form-group">
				<label class="col-sm-2 control-label">密码：</label>
				<div class="col-sm-10">
					<input type="password" datatype="s6-20" errormsg="至少6个字符,最多20个字符！" class="form-control pwd" name="pwd" placeholder="密码">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">确认密码：</label>
				<div class="col-sm-10">
					<input type="password" datatype="s6-20" recheck="pwd" class="form-control" placeholder="确认密码">
				</div>
			</div>
			<div class="clearfix"></div>
			<br/>
			<div class="clearfix">
				<button type="submit" id="submit" class="btn btn-success btn-block">提交</button>
				<button type="reset" id="reset2" class="hidden btn btn-success btn-block">重置</button>
			</div>
		</form>
	  </div>
  </body>
<!-- 全局js -->
<include file="public:foot" />
<script src="__HPLUS__/js/plugins/validform/Validform_v5.3.2_min.js"></script>
<script src="__HPLUS__/js/jquery.md5.js"></script>
<script>
$(function(){
	$("#reset2").click();
	var index = parent.layer.getFrameIndex(window.name);
	var form = $(".form").Validform({
		tiptype:4,
		ajaxPost:true,
		beforeSubmit:function(curform){
			$("#pwd").val($.md5($(".pwd").val()));
		},
		callback:function(data){
			if(data.status == 1) {
				window.parent.layer.msg(data.info);
				parent.layer.close(index);
			}else{
				window.parent.layer.msg(data.info);
			}
		}
	});
})
</script>
</html>