<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                    	<canvas id="canvas" style="height: 140px;width: 140px;display: none;">你的浏览器居然不支持Canvas？！赶快换一个吧！！ </canvas>
                    	<img alt="image" class="img-circle cutHeader" src="__IMGROOT__<{:session('user_teacher_photo')}>" style="width: 64px;height:64px;"/>
						<input type="file" class="hidden uploadHeader" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="getPhotoUrl(this)"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
	                        <span class="block m-t-xs"> <strong class="font-bold"><{:session('user_teacher_realname')}></strong></span> 
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    	<li><a href="javascript:void(0)" onclick="modifyPwd()">修改密码</a></li>
                    	<li><a href="javascript:void(0)" class="editHeader">编辑头像</a></li>
                        <li><a href="<{:Url('Login/logout')}>">安全退出</a></li>
                    </ul>
                </div>
                <div class="logo-element"><{:getFields('left_menu_title')}>
                </div>
            </li>
            
            <li>
                <a class="J_menuItem" href="<{:Url('Index/main')}>"> <i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
            </li>
			<li>
				<a href="#"><i class="fa fa-institution"></i> <span class="nav-label">学生管理</span> <span class="fa arrow"></span></a>
				<!-- 遍历主子菜单 -->
				<ul class="nav nav-second-level collapse" aria-expanded="true" style="">
					<li>
						<a class="J_menuItem" href="/teacher/Childs/index.html" data-index="1">学生信息</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-book"></i> <span class="nav-label">课程管理</span> <span class="fa arrow"></span></a>
				<!-- 遍历主子菜单 -->
				<ul class="nav nav-second-level collapse" aria-expanded="true" style="">
					<li>
						<a class="J_menuItem" href="/teacher/CourseTimeClass/index.html" data-index="1">课程管理</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-pencil"></i> <span class="nav-label">作业管理</span> <span class="fa arrow"></span></a>
				<!-- 遍历主子菜单 -->
				<ul class="nav nav-second-level collapse" aria-expanded="true" style="">
					<li>
						<a class="J_menuItem" href="/teacher/Homework/index.html" data-index="1">作业管理</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-calendar"></i> <span class="nav-label">考勤管理</span> <span class="fa arrow"></span></a>
				<!-- 遍历主子菜单 -->
				<ul class="nav nav-second-level collapse" aria-expanded="true" style="">
					<li>
						<a class="J_menuItem" href="/teacher/TimeCard/index.html" data-index="1">考勤管理</a>
					</li>
				</ul>
			</li>
        </ul>
    </div>
</nav>