<!DOCTYPE html>
<html>
<head>
<include file="public:header" />
<!-- jqgrid-->
<link href="__HPLUS__/css/plugins/jqgrid/ui.jqgrid.css?0820" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-content">
                    	<div class="ibox-search-box">
                    		<div class="row">
                                <div class="infont col-md-2">
                                    <select name="school_id" class="form-control"  placeholder="学校名称">
                                        <option value=" ">请选择</option>
                                        <foreach item="vo" name="vo">
                                            <option value="<{$vo.id}>"><{$vo.name}></option>
                                        </foreach>
                                    </select>
                                </div>
	                    		<div class="infont col-md-2">
		                    		<input type="text" name="device_name" class="form-control" placeholder="设备名称">
								</div>
								<div class="infont col-md-2">
	                    			<button class="btn btn-success btn-block btn-ibox-search" type="button">搜索</button>
	                    		</div>
                    		</div>
                    	</div>
                        <p>
                            <button type="button" id="add" class="btn btn-white btn-sm btn-outline"><i class="fa fa-plus-square-o"></i>&nbsp;新增</button>
                            <button type="button" id="edit" class="btn btn-white btn-sm btn-outline"><i class="fa fa-edit"></i>&nbsp;修改信息</button>
                            <button type="button" id="fixinfo" class="btn btn-white btn-sm btn-outline"><i class="fa fa-wrench"></i>查看维修记录</button>
                            <button type="button" id="del" class="btn btn-white btn-sm btn-outline"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                        </p>
                        <div class="jqGrid_wrapper">
                            <table id="table_list"></table>
                            <div id="pager_list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 全局js -->
<include file="public:foot" />
<!-- jqGrid -->
<script src="__HPLUS__/js/plugins/jqgrid/i18n/grid.locale-cn.js?0820"></script>
<script src="__HPLUS__/js/plugins/jqgrid/jquery.jqGrid.min.js?0820"></script>
<!-- Page-Level Scripts -->
<script>
$(document).ready(function () {
	//初始化
    $.jgrid.defaults.styleUI = 'Bootstrap';
    $("#table_list").jqGrid({
    	url : '__URL__/getAllData',
    	datatype: "json",
        height: 620,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 15,
        rowList: [10, 15, 30, 50],
        colNames: ['ID','学校','设备名称','设备规格','设备描述','投放时间'],
        colModel: [ {name : 'id',index : 'id'},
	                {name : 'school_name',index : 'school_name'},
	                {name : 'device_name',index : 'device_name'},
                    {name : 'device_spec',index : 'device_spec'},
                    {name : 'device_desc',index : 'device_desc'},
	                {name : 'use_time',index : 'use_time'}
        		],
        pager: "#pager_list",
        viewrecords: true,
        hidegrid: false,
        sortname: "id",
        sortorder: "asc"
    });

 	// 设置按钮
    $("#table_list").jqGrid('navGrid', '#pager_list', {
        edit: false,
        add: false,
        del: false,
        search: false
    }, {
        height: 200,
        reloadAfterSubmit: true
    });
    // 添加适配响应
    $(window).bind('resize', function () {
        var width = $('.jqGrid_wrapper').width();
        $('#table_list').setGridWidth(width);
    });
  	//搜索
    $(".btn-ibox-search").click(function() {
    	result = getSearchParamByInput();
    	$("#table_list").jqGrid('setGridParam', {
    		page: 1,
    		url : '__URL__/getAllData' + result
    	}).trigger("reloadGrid");
    })
    //监控回车
    $(".ibox-search-box").find(":input").keydown(function(event) {
		if(event.keyCode == 13){
			$(".btn-ibox-search").trigger("click");
		}
	})
    //增
    $("#add").click(function() {
        layerDialog("添加",'__URL__/add?type='+$("#type").val(),"90%","90%",true);
    })
    //删除
    $("#del").click(function() {
        var id = $("#table_list").jqGrid('getGridParam','selrow');
        if(id != null) {
            layer.confirm('确定删除？', function(index){
                $.ajax({
                    url:"__URL__/logicDel",
                    type:"post",
                    data:{'id':id},
                    success:function(data){
                        if(data.status == 1){
                            layer.msg(data.info);
                            $('#table_list').trigger("reloadGrid");
                        }else{
                            layer.msg(data.info);
                        }
                    }
                })
                layer.close(index);
            });
        }else {
            layer.msg("您没有选取数据！");
        }
    })
    //改
    $("#edit").click(function() {
        var id = $("#table_list").jqGrid('getGridParam','selrow');
        if(id != null) {
            layerDialog("修改",'__URL__/edit?id='+id+'&type='+$("#type").val(),"90%","90%",true);
        }else {
            layer.msg("您没有选取数据！");
        }
    })
    //查看维修记录
    $("#fixinfo").click(function() {
        var id = $("#table_list").jqGrid('getGridParam','selrow');
        if(id != null) {
            layerDialog("查看维修记录",'__URL__/fixinfo?id='+id+'&type='+$("#type").val(),"90%","90%",true);
        }else {
            layer.msg("您没有选取数据！");
        }
    })
    //获取搜索条件（仅限封装简单条件）
    function getSearchParamByInput() {
    	var result = "";
    	$(".ibox-search-box").find(":input").each(function() {
    		if($(this).val() != "") {
    			if(result != "") {
    				result += "&";
    			}else{
    				result += "?";
    			}
    			result += $(this).attr("name") + "=" + $(this).val();
    		}
    	})
    	return result;
    }
    
});
</script>
</html>