<!DOCTYPE html>
<html>
<include file="public:header" />
<link href="__HPLUS__/css/dialog.css" rel="stylesheet">
<link href="__HPLUS__/css/plugins/validform/validform.css" rel="stylesheet">
<link href="__HPLUS__/js/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
<style>
	.form-control{ padding-left:5px;}
</style>
  <body>
	  <div class="wrapper wrapper-content">
	  	<form role="form" class="form" action="__URL__/insert">
			<input type="hidden" value="<{:session('school_info_id')}>" name="school_id"/>
			<input type="hidden" name="flag" value="1">
			<div class="form-group">
				<label class="col-sm-2 control-label">星期：</label>
				<div class="col-sm-10">
                  		<select name="weeks" datatype="*" class="form-control"  placeholder="星期">
						<option value="">请选择</option>
						<option value="1">星期一</option>
						<option value="2">星期二</option>
						<option value="3">星期三</option>
						<option value="4">星期四</option>
						<option value="5">星期五</option>
						<option value="6">星期六</option>
						<option value="7">星期日</option>
					</select>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="form-group">
				<label class="col-sm-2 control-label">课程节次：</label>
				<div class="col-sm-10">
                  		<select name="title" datatype="*" class="form-control"  placeholder="课程节次" onchange="checkCourse($(this).val())">
						<option value="">请选择</option>
						<option value="1">第一节</option>
						<option value="2">第二节</option>
						<option value="3">第三节</option>
						<option value="4">第四节</option>
						<option value="5">第五节</option>
						<option value="6">第六节</option>
						<option value="7">第七节</option>
						<option value="8">第八节</option>
					</select>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="form-group">
				<label class="col-sm-2 control-label">上课/下课时间：</label>
				<div class="col-sm-10">
					<input type="hidden" id="begin_time" name="begin_time" class="form-control" value="<{$vo.begin_time}>">
					<input type="hidden" id="end_time" name="end_time" class="form-control" value="<{$vo.end_time}>">
					<input type="text" datatype="*" id="course_time" class="form-control" placeholder="上课/下课时间">
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="clearfix">
				<button type="submit" id="submit" class="btn btn-success btn-block">提交</button>
				<button type="reset" id="reset2" class="btn btn-success btn-block hidden">重置</button>
			</div>
		</form>
	  </div>
  </body>
<!-- 全局js -->
<include file="public:foot" />
<script src="__HPLUS__/js/plugins/validform/Validform_v5.3.2_min.js"></script>
<!-- laydate -->
<script src="__HPLUS__/js/plugins/layer/laydate/laydate.js"></script>
<script src="__HPLUS__/js/plugins/fancybox/jquery.fancybox.js"></script>
<script>
$(function(){
    //执行一个laydate实例
    laydate.render({
        elem: '#course_time',
        type: 'time',
        theme: '#1c84c6',
        format: 'HH:mm:ss',
        min: '00:00:00',
        max: '23:59:59',
        value: '<{:empty($vo.begin_time)?"08:00:00":$vo.begin_time}> - <{:empty($vo.end_time)?"09:00:00":$vo.end_time}>',
        range: true
    });
	$("#reset2").click();
	var index = parent.layer.getFrameIndex(window.name);
	var form = $(".form").Validform({
		tiptype:4,
		ajaxPost:true,
        beforeSubmit:function(){
            var time = $("#course_time").val();
            var timeArr = time.split('-');
            $("#begin_time").val(timeArr[0]);
            $("#end_time").val(timeArr[1]);
        },
		callback:function(data){
			if(data.status == 1) {
				window.parent.layer.msg(data.info);
				window.parent.$('#table_list').trigger("reloadGrid");
				parent.layer.close(index);
			}else{
				window.parent.layer.msg(data.info);
			}
		}
	});
})
function checkCourse(title){
	var weeks = $('select[name="weeks"]').val();
	$('select[name="title"]').attr('ajaxurl','checkValueCT?title='+title+'&weeks='+weeks);
}
</script>
</html>