<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
        	<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
        	<li class="hidden-xs" data-toggle="tooltip" data-placement="left" title="点击全屏">
        		<a href="#" id="fullScreen"><i class="fa fa-arrows" style="color:#1ab394"></i></a>
            </li>
        	<li class="hidden-xs" data-toggle="tooltip" data-placement="left" title="清除缓存" >
	            <a href="<{:Url('System/delRuntime')}>" onclick="layer.msg('清除缓存成功！')" ><i class="fa fa-truck" style="color:#1ab394"></i></a>
	        </li>
            <!-- <li class="hidden-xs" data-toggle="tooltip" data-placement="left" title="前往前台">
	            <a href="<{:Url('@index')}>" target="_blank" ><i class="fa fa-arrow-circle-right" style="color:#1ab394"></i></a>
	        </li> -->
    	</ul>
    </nav>
</div>