<!DOCTYPE html>
<html>
<head>
	<include file="public:header" />
	<!-- jqgrid-->
	<link href="__HPLUS__/css/plugins/jqgrid/ui.jqgrid.css?0820" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
	<input id="sid" class="hide" value="<{$data.sid}>"/>
	<input id="tid" class="hide" value="<{$data.tid}>"/>
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox ">
				<div class="ibox-content">
					<p>
						<{$data.school_name}>
						<if condition="$data.count != 0">
						，该学校共有<{$data.count}>人参加
						<else />
						，该学校暂无人报名
						</if>
					</p>
					<div class="jqGrid_wrapper">
						<table id="table_list"></table>
						<div id="pager_list"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<!-- 全局js -->
<include file="public:foot" />
<!-- jqGrid -->
<script src="__HPLUS__/js/plugins/jqgrid/i18n/grid.locale-cn.js?0820"></script>
<script src="__HPLUS__/js/plugins/jqgrid/jquery.jqGrid.min.js?0820"></script>
<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        //初始化
        $.jgrid.defaults.styleUI = 'Bootstrap';
        $("#table_list").jqGrid({
            url : '__URL__/getPersonData?sid=' + $("#sid").val()+'&tid=' + $('#tid').val(),
            datatype: "json",
            height: 450,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 15,
            rowList: [10, 15, 30, 50],
            colNames : [ 'ID','学生','班级','家长','状态','修改时间'],
            colModel : [{name : 'id',index : 'id'},
                        {name : 'child_name',index : 'child_name'},
                        {name : 'class_name',index : 'class_name'},
                        {name : 'parent_name',index : 'parent_name'},
						{name : 'status',index : 'status',formatter : function(cellvalue, options, rowObject){
                                var content ="";
                                if(cellvalue == 1) {
                                    content = '已报名';
                                }else if(cellvalue == 2) {
                                    content = '已取消报名';
                                }
                                return content;
                            }},
                        {name : 'update_time',index : 'update_time',formatter: 'date',formatoptions: {srcformat:'u',newformat:'Y-m-d H:i:s'}},
            ],
            pager: "#pager_list",
            viewrecords: true,
            hidegrid: false,
            sortname: "id",
            sortorder: "desc",
            grouping:true,
            groupingView :{
                groupField : ['class_name'],
                groupColumnShow :[false],
                groupText : ['<b>{0} - {1}个人</b>']
            }
        });
        // 设置按钮
        $("#table_list").jqGrid('navGrid', '#pager_list', {
            edit: false,
            add: false,
            del: false,
            search: false
        }, {
            height: 200,
            reloadAfterSubmit: true
        });
        // 添加适配响应
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table_list').setGridWidth(width);
        });
    });
    //显示报名学校内有多少人报名
    function detail(tid,sid){
        layerDialog("详细","__URL__/detailPerson?tid="+tid+"&sid="+sid,"90%","90%",true)
    }
</script>
</html>