<!DOCTYPE html>
<html>
<head>
	<include file="public:header" />
	<!-- jqgrid-->
	<link href="__HPLUS__/css/plugins/jqgrid/ui.jqgrid.css?0820" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
	<input id="id" class="hide" value="<{$id}>"/>
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox ">
				<div class="ibox-content">
					<p>
                        <if condition="$count != 0">
                            该共
                        <else />
                            该暂
                        </if>
					</p>
					<div class="jqGrid_wrapper">
						<table id="table_list"></table>
						<div id="pager_list"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<!-- 全局js -->
<include file="public:foot" />
<!-- jqGrid -->
<script src="__HPLUS__/js/plugins/jqgrid/i18n/grid.locale-cn.js?0820"></script>
<script src="__HPLUS__/js/plugins/jqgrid/jquery.jqGrid.min.js?0820"></script>
<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        //初始化
        $.jgrid.defaults.styleUI = 'Bootstrap';
        $("#table_list").jqGrid({
            url : '__URL__/getRelease?id=' + $("#id").val(),
            datatype: "json",
            height: 450,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 15,
            rowList: [10, 15, 30, 50],
            colNames : [ 'ID','学校','状态','时间','操作'],
            colModel : [{name : 'id',index : 'id'},
                        {name : 'school_name',index : 'school_name'},
						{name : 'is_pass',index : 'is_pass',formatter : function(cellvalue, options, rowObject){
                                var content ="";
                                if(cellvalue == 1) {
                                    content = '已通过';
                                }else{
                                    content = '未通过';
                                }
                                return content;
                            }},
                        {name : 'update_time',index : 'update_time',formatter: 'date',formatoptions: {srcformat:'u',newformat:'Y-m-d H:i:s'}},
						{name : 'is_pass',index : 'is_pass',formatter : function(cellvalue, options, rowObject){
                            var content ="";
                            if(cellvalue == 1){
                                 content += '<button class="btn btn-danger btn-xs btn-outline" onclick="updateDeviceStatus('+ rowObject.id +','+ 2 +')"><i class="fa fa-power-off"></i>取消通过</button>';
                            }else{
                                 content += '<button class="btn btn-primary btn-xs btn-outline" onclick="updateDeviceStatus('+ rowObject.id +','+ 1 +')"><i class="fa fa-toggle-off"></i>通过</button>';
                            }content += "&nbsp";
                            content += '<button class="btn btn-primary btn-xs btn-outline" onclick="detail('+rowObject.id+')"><i class="fa fa-group"></i>详情</button>';
                            return content;
                        }}
            ],
            pager: "#pager_list",
            viewrecords: true,
            hidegrid: false,
            sortname: "id",
            sortorder: "desc",
        });
        // 设置按钮
        $("#table_list").jqGrid('navGrid', '#pager_list', {
            edit: false,
            add: false,
            del: false,
            search: false
        }, {
            height: 200,
            reloadAfterSubmit: true
        });
        // 添加适配响应
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table_list').setGridWidth(width);
        });
    });
    //显示报名学校内有多少人报名
    function detail(id){
        layerDialog("学校报名详情","__URL__/releaseInfo?id="+id,"95%","95%",true)
    }
    //是否通过
function updateDeviceStatus(id,value) {
    layer.confirm('确定通过，确定执行？', function(index){
        $.ajax({
            url:"__URL__/updatePass",
            type:"post",
            data:{'id':id,'field':'is_pass','value':value},
            success:function(data){
                if(data.status == 1){
                    layer.msg(data.info);
                    window.location.reload();
                }else{
                    layer.msg(data.info);
                }
            }
        })
        layer.close(index);
    });
}
</script>
</html>