<!DOCTYPE html>
<html>
<head>
<include file="public:header" />
<!-- jqgrid-->
<link href="__HPLUS__/css/plugins/jqgrid/ui.jqgrid.css?0820" rel="stylesheet">
<link href="__HPLUS__/js/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-content">
                    	<div class="ibox-search-box">
                    		<div class="row">
                    			<div class="infont col-md-2">
		                    		<select name="cats_code" class="form-control"  placeholder="班级类型" onchange="getclass(this.value)">
										<option value=" ">请选择</option>
										<foreach item="vo" name="vo">
										<option value="<{$vo.subtype_code}>"><{$vo.subtype_name}></option>
										</foreach>
									</select>
								</div>
                                <div class="infont col-md-2">
		                    		<select class="form-control" name="classes_id" placeholder="班级" id="class_name">
		                    			<option value=" ">请选择</option>
									</select>
								</div>
                                <div class="infont col-md-2">
                                    <input type="text" name="realname" class="form-control" placeholder="学生姓名">
                                </div>
                                <div class="infont col-md-2">
                                    <input type="text" name="code" class="form-control" placeholder="学号">
                                </div>
	                    		<div class="infont col-md-2">
		                    		<select class="form-control" name="status" placeholder="状态">
										<option value="1">正常</option>
                                        <option value="-1">毕业</option>
                                        <option value="-2">离校</option>
									</select>
								</div>
								<div class="infont col-md-2">
	                    			<button class="btn btn-success btn-block btn-ibox-search" type="button">搜索</button>
	                    		</div>
                    		</div>
                    	</div>
                    	<p>
                    		<button type="button" id="parentInfo" class="btn btn-white btn-sm btn-outline"><i class="fa fa-male"></i>&nbsp;家长信息</button>
                    		<button type="button" id="change" class="btn btn-white btn-sm btn-outline"><i class="fa fa-paper-plane-o"></i>&nbsp;离校</button>
                    		<button type="button" id="graduate" class="btn btn-white btn-sm btn-outline"><i class="fa fa-trophy"></i>&nbsp;毕业</button>
                    		<button type="button" id="mimeograph" class="btn btn-white btn-sm btn-outline"><i class="fa fa-file-word-o"></i>&nbsp;打印</button>
							<button type="button" id="export" class="btn btn-white btn-sm btn-outline"><i class="fa fa-file-excel-o"></i>&nbsp;导出excel</button>
                    		<button type="button" id="del" class="btn btn-white btn-sm btn-outline"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                    		
                    	</p>
                        <div class="jqGrid_wrapper">
                            <table id="table_list"></table>
                            <div id="pager_list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 全局js -->
<include file="public:foot" />
<!-- jqGrid -->
<script src="__HPLUS__/js/plugins/jqgrid/i18n/grid.locale-cn.js?0820"></script>
<script src="__HPLUS__/js/plugins/jqgrid/jquery.jqGrid.min.js?0820"></script>
<script src="__HPLUS__/js/plugins/fancybox/jquery.fancybox.js"></script>
<!-- Page-Level Scripts -->
<script>
$(document).ready(function () {
	//图片全屏加载
	$(".fancybox").fancybox({openEffect:"none",closeEffect:"none"});
	var lastsel;
	//初始化
    $.jgrid.defaults.styleUI = 'Bootstrap';
    $("#table_list").jqGrid({
    	url : '__URL__/getAllData',
    	datatype: "json",
        height: 580,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 15,
        rowList: [10, 15, 30, 50],
        colNames: ['ID','姓名','学号','识别码','分班状态','状态','操作'],
        colModel: [ {name : 'id',index : 'id',hidden:true},
                    {name : 'realname',index : 'realname'},
	                {name : 'code',index : 'code',editable : true,editrules: { integer: true },edittype: "text"},
                    {name : 'unique_code',index : 'unique_code'},
                    {name : 'classes_id',index : 'classes_id',formatter : function(cellvalue, options, rowObject){
                        var content = "已分班";
                        if(cellvalue == 0) {
                        	content = '<font color="green">未分班</font>';
                        }
                       return content;
                   }},
                    {name : 'status',index : 'status',formatter : function(cellvalue, options, rowObject){
                         var content ="";
                         if(cellvalue == 1) {
                            content = '<font color="green">正常</font>';
                         }else if(cellvalue == -1) {
                            content = '<font color="red">毕业</font>';
                         }else if(cellvalue == -2){
                            content = '<font color="blue">离校</font>';
                         }
                        return content;
                    },sortable:false},
                    {name : 'status',index : 'status',formatter : function(cellvalue, options, rowObject){
                        var content ="";
                        content = '<button class="btn btn-primary btn-xs btn-outline" onclick="detail('+rowObject.id+')"><i class="fa fa-building"></i>  详情</button>';
                        return content;
                    },sortable:false}
        		],
        pager: "#pager_list",
        viewrecords: true,
        hidegrid: false,
        sortname: "classes_id",
        sortorder: "asc,id desc",
        multiselect : true,
        /* ondblClickRow: function(rowid) {
        	if(rowid != null) {
        		layerDialog("详细",'__URL__/detailView1?id='+rowid,"90%","90%",true);
        	}else {
        		layer.msg("您没有选取数据！");
        	}
        }, */
        onSelectRow : function(id) {
        	//原选中行ID
            var oldSelectRowId = lastsel;
            if (oldSelectRowId != null && oldSelectRowId != "" && oldSelectRowId.length > 0) {
                $("#table_list").jqGrid('saveRow', oldSelectRowId,
               		function(data){
                		data = data.responseJSON;
                		if(data.status == 1){
							layer.msg(data.info);
							return true; 
						}else{
							layer.msg(data.info);
						}
               	    }
                );//保存上一行
            }
            if (id && id !== lastsel) {
              	jQuery('#table_list').jqGrid('restoreRow', lastsel);
              	jQuery('#table_list').jqGrid('editRow', id, true);
              	lastsel = id;
            }
        },
        editurl : "__URL__/updateChildCode",
        caption : "tips:单击行可快速编辑学号！"
    });

 	// 设置按钮
    $("#table_list").jqGrid('navGrid', '#pager_list', {
        edit: false,
        add: false,
        del: false,
        search: false
    }, {
        height: 200,
        reloadAfterSubmit: true
    });
    // 添加适配响应
    $(window).bind('resize', function () {
        var width = $('.jqGrid_wrapper').width();
        $('#table_list').setGridWidth(width);
    });
  	//搜索
    $(".btn-ibox-search").click(function() {
    	result = getSearchParamByInput();
    	$("#table_list").jqGrid('setGridParam', {
    		page: 1,
    		url : '__URL__/getAllData' + result
    	}).trigger("reloadGrid");
    })
    //监控回车
    $(".ibox-search-box").find(":input").keydown(function(event) {
		if(event.keyCode == 13){
			$(".btn-ibox-search").trigger("click");
		}
	})
    //获取搜索条件（仅限封装简单条件）
    function getSearchParamByInput() {
    	var result = "";
    	$(".ibox-search-box").find(":input").each(function() {
    		if($(this).val() != "") {
    			if(result != "") {
    				result += "&";
    			}else{
    				result += "?";
    			}
    			result += $(this).attr("name") + "=" + $(this).val();
    		}
    	})
    	return result;
    }
    //改
    $("#edit").click(function() {
    	var id = $("#table_list").jqGrid('getGridParam','selarrrow');
        if(id != null && id.length == 1) {
        	layerDialog("修改",'__URL__/edit?id='+id+'&type='+$("#type").val(),"70%","90%",true);
        }else if(id.length > 1){
            layer.msg("您选择了多条数据，请选择一条数据");
        }else{
       	 layer.msg("您没有选取数据！");
        }
    })
     //转校
    $("#change").click(function() {
    	var ids = $("#table_list").jqGrid('getGridParam', 'selarrrow');
    	var id = ids.toString();
    	if(id != null && ids.length >= 1) {
    		layer.confirm('确认将所选学生进行转学操作？', function(index){
				$.ajax({
					url:"__URL__/changeSchool",
					type:"post",
					data:{'id':id},
					success:function(data){
						if(data.status == 1){
							layer.msg(data.info);
							$('#table_list').trigger("reloadGrid");
						}else{
							layer.msg(data.info);
						}
					}
				})
			    layer.close(index);
			});
        }else {
            layer.msg("您没有选取数据！");
        }
    })
    //毕业
    $("#graduate").click(function() {
    	var ids = $("#table_list").jqGrid('getGridParam', 'selarrrow');
    	var id = ids.toString();
    	if(id != null && ids.length >= 1) {
    		layer.confirm('确认所选学生已经毕业？', function(index){
				$.ajax({
					url:"__URL__/graduate",
					type:"post",
					data:{'id':id},
					success:function(data){
						if(data.status == 1){
							layer.msg(data.info);
							$('#table_list').trigger("reloadGrid");
						}else{
							layer.msg(data.info);
						}
					}
				})
			    layer.close(index);
			});
        }else {
            layer.msg("您没有选取数据！");
        }
    })
    //打印
    $("#mimeograph").click(function() {
    	 var id = $("#table_list").jqGrid('getGridParam','selarrrow');
         if(id != null && id.length == 1) {
             layerDialog("打印页",'__URL__/mimeograph?id='+id+'&type='+$("#type").val(),"60%","90%",true);
         }else if(id.length > 1){
             layer.msg("您选择了多条数据，请选择一条数据");
         }else{
        	 layer.msg("您没有选取数据！");
         }
    })
    //导出excel
    $("#export").click(function() {
        layerDialog("导出学生信息",'__URL__/export?id=',"80%","75%",true);
    })
    //家长信息
    $("#parentInfo").click(function() {
    	var id = $("#table_list").jqGrid('getGridParam','selarrrow');
        if(id != null && id.length == 1) {
        	layerDialog("家长信息",'__URL__/parentInfo?id='+id,"70%","90%",true);
        }else if(id.length > 1){
            layer.msg("您选择了多条数据，请选择一条数据");
        }else{
       	 layer.msg("您没有选取数据！");
        }
    })
    //删除
    $("#del").click(function() {
    	var id = $("#table_list").jqGrid('getGridParam','selarrrow');
        if(id != null && id.length == 1) {
        	layer.confirm('删除前请确定孩子是否为无班级状态，确认执行？', function(index){
				$.ajax({
					url:"__URL__/logicDel",
					type:"post",
					data:{'id':id[0]},
					success:function(data){
						if(data.status == 1){
							layer.msg(data.info);
							$('#table_list').trigger("reloadGrid");
						}else{
							layer.msg(data.info);
						}
					}
				})
			    layer.close(index);
			});
        }else if(id.length > 1){
            layer.msg("您选择了多条数据，请选择一条数据");
        }else{
       	 layer.msg("您没有选取数据！");
        }
    })
});

function detail(id){
	layerDialog("详细","__URL__/detailView1?id="+id,"90%","90%",true)
}
//获取班级类型下的具体班级信息
function getclass(id){
	$("#class_name").empty();
	$("#class_name").append("<option value=' '>请选择</option>")
	$.ajax({
        url:"__URL__/getClassName",
        type:"post",
        data:{'id':id},
        success:function(data){
            if(data.status == 1){
            	var cname = data.data;
            	for(var i = 0;i < cname.length;i++){
            		var cnamecontent = '<option value=' + cname[i].id + '>' + cname[i].name + '</option>';
            		$("#class_name").append(cnamecontent);
            	}
            	/* $(".btn-ibox-search").trigger("click"); */
            }else{
                layer.msg(data.info);
            }
        }
    })
}
</script>
</html>